%h2 Delete page "#{page.title}"

.alert.alert-danger Do you really want to delete this page ?

%form{:method => "POST"}
  %input.btn.btn-danger.pull-right{:type => "submit", :value => "Delete", :style => "margin-left: 5px"} 
  %a.btn.btn-default.pull-right{:href => "/admin/page"} Cancel 

