.container
  .row1
    .col-lg-12
      %h2.strong Are you sure you want to delete this page ?

      %form{:method => "POST"}
        .form-group
          %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Delete"}

      %h2= thisone.title
      %br

      %h4 Author :
      %h4= thisone.author
      %br

      %h6 Contents :
      %p= thisone.long_text
