%h2 Create a new page

%form{:method => "POST"}
  .form-group
    %label{:for => "title"} Title
    %input{:type => "text", :class => "form-control", :id => "title", :placeholder => "New Page...", :name => "title"}

  .form-group
    %label{:for => "category"} Category
    %input{:type => "text", :class => "form-control", :id => "category", :placeholder => "Information, Activity...", :name => "category"}

  .form-group
    %label{:for => "author"} Author
    %input{:type => "text", :class => "form-control", :id => "author", :placeholder => "", :name => "author"}

  .form-group
    %label{:for => "priority"} Priority
    %input{:type => "text", :class => "form-control", :id => "priority", :placeholder => "", :name => "priority"}
      
  .form-group
    %label{:for => "long_text"} Body (Markdown Syntax is allowed)
    %textarea{:rows => "15", :class => "form-control", :id => "long_text", :placeholder => "You article content.", :name => "long_text"}

  .form-group
    %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Publish"}
