%h1 Dashboard

%table.table
  %tr
    %th Type
    %th Quantity

  %tr
    %td Articles
    %td= articles.count

  %tr
    %td Events
    %td= events.count
  
  %tr
    %td Users
    %td= users.count

-if(!table_of_meals.nil?)  
  %h2 Meals

  %table.table.table-striped
    %tr
      %th
        \
      %th
        Breackfast
      %th
        Lunch
      %th
        Dinner  
    -table_of_meals.each do |line|
      %tr
        %th
          =line[0]
        -for m in 1..3
          %td
            -if !line[m].nil?
              =line[m]