.container
  .row
    .col-md-12
      %h1.pull-left Administration
      %br{:style => "clear:both"}
      %br
      
    .col-md-3
      .list-group
        %a.list-group-item{:href => "/admin"}
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-dashboard
            Dashboard
          %p.list-group-item-text Information and statistics
        %a.list-group-item{:href => "/admin/article"} 
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-comment
            Articles
          %p.list-group-item-text News about the conference
        %a.list-group-item{:href => "/admin/page"}
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-file
            Pages 
          %p.list-group-item-text Statical information
        %a.list-group-item{:href => "/admin/event"}
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-glass
            Events
          %p.list-group-item-text Registration for events
        %a.list-group-item{:href => "/admin/review"}
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-eye-open
            Reviews
          %p.list-group-item-text Review resumes
        %a.list-group-item{:href => "/admin/user"}
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-user
            Users
          %p.list-group-item-text Accounts and permissions
        %a.list-group-item{:href => "/admin/settings"} 
          %h4.list-group-item-heading 
            %span.glyphicon.glyphicon-cog
            Settings
          %p.list-group-item-text Website's parameters

    .col-md-9
      = yield
