-i=0
.panel.panel-default
	.panel.panel-body
		%h1 Events to which you have registered: 
		-if events.empty?
			%p You have not yet registered to any event. 
		-else						
			-felt =felts[i]
			-fanswer = fanswers[i]
			-events.each do |e|
				%ul.list-group
					%li.list-group-item 
						%h3 
							=e.name
						/ -p e
						/ -p felt.class
						/ -p felt.class != "NilClass"
						/ -p felts[0]
						-while(felt.is_a?(FormElement) && e.id == felt.event_id)
							%p 
								=felt.question
								%br/
								➥
								=fanswer.answer
							-i = i+1
							-felt =felts[i]
							-fanswer = fanswers[i]
			

						
