-i=0
.panel.panel-default
	.panel.panel-body
		%h1 Events to which you have registered: 
		-if events.empty?
			%p You have not yet registered to any event. 
		-else					
			%ul.list-group
				-modificate = false
				-events.each do |e|
					%li.list-group-item 
						.container
							.col-md-10
								%h3 
									=e.name
								-felts.each do |felt|
									-modificate=true
									%p 
										=felt.question
										%br/
										➥
										-felt.form_answers.each do |fanswer|
											-if fanswer.participant == user
												=fanswer.answer
							.col-md-2
								-if modificate
									%a.btn.btn-primary{:href => "/profile/event/edit-registration/#{e.id}", :style => "margin-top: 1px"}
										Modificate 
									%br/
									-modificate = false
								%a.btn.btn-danger{:href => "/profile/event/deleteRegistration/#{e.id}", :style => "margin-top: 1px"}
									Unregister 

				

								
