
-if table.nil?
  %p No meals to register
-else   
        
  %form{:method => "POST"}
    .panel.panel.panel-default
      .panel.panel-body
        .form-group
          %legend  
            Please checks the differents meals you want to register
          %table.table.table-striped
            %tr
              -table.shift.each do |elt|
                %th
                  =elt
              
            -table.each do |line|
              %tr
                %th
                  -date = line.shift
                  =date
                -line.each do |elt|
                  -m,value = elt
                  %td
                    -unless value.nil?
                      .checkbox
                        %label
                          %input{value ? {checked: ""} : {}, type: "checkbox",name: "[meals[#{date}][#{m}]]",id: [date,m],value: "true"}

    .row
      .col-md-6
        %a.btn.btn-default.btn-lg.btn-block{:href => "/profile/account"} Previous

      .col-md-6
        %input.btn.btn-primary.btn-lg.btn-block{:type => "submit", :value => "Next"}


