.container
  .row
    .col-md-12
      %h1 Password lost
      %p We will send you an email to reset your password

      %form.form-horizontal{:method => "POST", :action => "/profile/password_lost"}
        .form-group
          %label.col-sm-2.control-label{:for => "email"} Email
          .col-sm-10
            %input.form-control{:type => "email", :placeholder => "john.doe@example.com", :name => "email"}
        .form-group
          .col-sm-offset-2.col-sm-10
            %input.btn.btn-primary{:type => "submit", :value => "Reset my password"}
