*~
bower_components
public
app.db
assets/tmp
assets/fonts
public
.bundle
vendor
Gemfile.lock
db/schema.rb
config/general.yml
config/database.yml
uploads/*
!uploads/placeholder

# LaTeX files
*.toc
*.log
*.pdf
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi
*.blg
*.bbl
*.run.xml
*.swp
*.bcf
*.glo
*.ist
*.glsdefs
*.out
*.glg
*.gls
tmp/*
