- if edit
  %h2 Edit user "#{user.email}"
- else
  %h2 Create a new user

%form{:method => "POST"}
  .form-group
    %label{:for => "first_name"} First Name
    %input{:type => "text", :class => "form-control", :id => "first_name", :name => "first_name", :placeholder => "John", :title => "first_name", :value => user.first_name}

  .form-group
    %label{:for => "last_name"} Last Name
    %input{:type => "text", :class => "form-control", :id => "last_name", :name => "last_name", :placeholder => "Doe", :title => "last_name", :value => user.last_name}

  .form-group
    %label{:for => "email"} Email
    %input{:type => "email", :class => "form-control", :id => "email", :name => "email", :placeholder => "john.doe@exemple.com", :title => "email", :value => user.email}

  .form-group
    %label{:for => "password"} Password
    %input{:type => "password", :class => "form-control", :id => "password", :name => "password", :placeholder => "Please do not choose 123456", :title => "password"}

  .form-group
    %label{:for => "phone"} Phone number
    %input{:type => "text", :class => "form-control", :id => "phone", :name => "phone", :placeholder => "+(XX)012345678", :title => "phone", :value => user.phone}

  .form-group
    %label{:for => "address"} Address
    %input{:type => "text", :class => "form-control", :id => "address", :name => "address", :placeholder => "10 Oxford Street", :title => "address", :value => user.address}

  .form-group
    %label{:for => "role"} Role
    %select{:name => "role", :id => "role", :class => "form-control"}
      %option{:value => "-1", :selected => user.role == -1} Waiting for email confirmation
      %option{:value => "0", :selected => user.role == 0} User
      %option{:value => "1", :selected => user.role == 1} Moderator
      %option{:value => "2", :selected => user.role == 2} Administrator 

  .form-group
    %label{:for => "diet"} Diet
    %select{:name => "diet", :id => "diet", :class => "form-control"}
      %option{:value => "0", :selected => user.diet == 0} No constraint
      %option{:value => "1", :selected => user.diet == 1} Vegan
      %option{:value => "2", :selected => user.diet == 2} Without pork

  .form-group
    %label{:for => "nationality"} Nationality
    %input{:type => "text", :class => "form-control", :id => "nationality", :name => "nationality", :placeholder => "English", :title => "nationality", :value => user.nationality}

  .form-group
    %label{:for => "title"} Title
    %input{:type => "text", :class => "form-control", :id => "title", :name => "title", :placeholder => "Dr", :title => "title", :value => user.title}

  .form-group
    %label{:for => "sex"} Gender
    %select{:name => "sex", :id => "sex", :class => "form-control"}
      %option{:value => "0", :selected => user.sex == 0} Female
      %option{:value => "1", :selected => user.sex == 1} Male
      %option{:value => "2", :selected => user.sex == 2} Other

  .form-group
    %label{:for => "has_paid"} Payment status
    %select{:name => "has_paid", :id => "has_paid", :class => "form-control"}
      %option{:value => "true", :selected => user.has_paid} Payment done
      %option{:value => "false", :selected => !user.has_paid} Waiting for payment

  .form-group
    %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Publish"}

