%section{:class => "row"}
  %div{:class => "col-offset-4 col-lg-4"}
    %h1 Page administrateur

  %div{:class => "col-offset-4 col-lg-4"}  
    %a{:class => 'btn btn-primary btn-lg', :href => '/'} Retour
    -#<a class="btn btn-primary btn-lg" href="/">retour</a>
