.container
  .row
    .col-md-12
      %h1 Administration

    .col-md-12
      %a{:class => 'btn btn-primary btn-lg', :href => '/'} Back
      -#<a class="btn btn-primary btn-lg" href="/">retour</a>
