.container
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center=article.title

      %h4.lead.text-center
        = markdown(article.short_text)


      %p
        = markdown(article.long_text)

      %small
        Category : 
        = article.category
        \- Last update :
        = article.updated_at


