.container
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center=event.title

      %h4.lead.text-center
        = markdown(event.short_text)

      %h4.lead.text-center
        From : 
        = event.begin
        <br/>
        To :
        = event.end
      %small
        \- Last update :
        = event.updated_at


