.wrapper{"ng-controller" => "HomeCtrl"}
.jumbotron.home.hidden-xs
  .container.text-center
    %h1 30th International Workshop on Statistical Modelling
    %p INSA Rennes
.container
  .row
    .col-md-12
      - articles.each do |a|
        %h1
          = a.title
          %small= a.category
        %p= a.short_text
        %small= a.created_at
        %hr

