%h3 Hello
%ul.nav.nav-pills{ :role => "tablist"}
  %li.active{ :role => "presentation"}
    %a{ :href => "/"} Home
  %li.active{ :role => "presentation"}
    %a{ :href => "/laurent"} Laurent
  %li.active{ :role => "presentation"}
    %a{ :href => "/jean"} Jean
