%section{:class => "row"}
  %nav{:class => "col-lg-2 col-md-12"}
    %br
    %a{:class => 'btn btn-primary btn-lg', :href => '/navigation'}Navigation
    %br 
    %br 

  %div{:class => "col-lg-5 col-md-6 col-sm-6"}
    Section 1 :
    %br 
    %div{:class => "element"}
      %a{:href => "http://www.insa-rennes.fr/" , :target => "_blank"}
        %img{:src => "rennes.jpg", :alt => "photo", :title => "Rennes"}

  %div{:class => "col-lg-5 col-md-6 col-sm-6"}
    Section 2 :
    %br 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a rhoncus libero. Vivamus molestie dolor ac erat finibus suscipit. Vivamus in urna id massa pharetra condimentum id nec justo. Nunc lobortis mauris est, vitae fermentum mi sollicitudin nec. Vestibulum id diam convallis, interdum massa fringilla, dapibus nibh. Vivamus luctus tristique purus, ac maximus mi egestas id.
