%link{:href => "style.css",  :rel => "stylesheet", :type => "text/css"}
      

  %body

    %div.header{:class => "row"}
      %div{:class => "col-lg-12 visible-md visible-lg"}
        Entete Ordi
      %div{:class => "col-lg-12 visible-sm"}
        Entete Tablette
      %div{:class => "col-lg-12 visible-xs"}
        Entete smartphone


    %div{:class => "container"}
      %section{:class => "row"}
        %nav{:class => "col-lg-2 col-md-12"}
          %br
          Navigation
          %br 
          %br 


        %div{:class => "col-lg-5 col-md-6 col-sm-6"}
          Section 1 :
          %br 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis condimentum augue fermentum vestibulum. Etiam ut augue libero. Integer vestibulum leo lorem, at hendrerit est finibus id. Donec leo nisl, pretium non facilisis eget, dignissim non velit. Suspendisse varius augue ac libero eleifend varius. Cras quis ipsum ante. Donec vitae tellus id elit pellentesque tempus. Cras in est rhoncus, viverra enim id, viverra enim. Aenean a massa lectus. Nam consectetur at nisi in lacinia.

        %div{:class => "col-lg-5 col-md-6 col-sm-6"}
          Section 2 :
          %br 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis condimentum augue fermentum vestibulum. Etiam ut augue libero. Integer vestibulum leo lorem, at hendrerit est finibus id. Donec leo nisl, pretium non facilisis eget, dignissim non velit. Suspendisse varius augue ac libero eleifend varius. Cras quis ipsum ante. Donec vitae tellus id elit pellentesque tempus. Cras in est rhoncus, viverra enim id, viverra enim. Aenean a massa lectus. Nam consectetur at nisi in lacinia. 


    %footer{:class => "row"}
      %div{:class => "col-lg-12"}
        Pied de page

	
