.container
  .carousel.slide
    .carousel-inner.thumbnail
      .item.active
        %h1 Première Partie
      .item
        %h1 Deuxième Partie
        .item
        %h1 Troisième Partie
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel"}
      %span.icon-next  

.container
  %div{:class => "row"}
    %nav
      %ul.pager
        %li.previous
          %a{:href => "/jean1"} &larr; Précedent
        %li.next
          %a{:href => "/jean3"} Suivant &rarr;
