.container
  %section{:class => "row"}
    %nav{:class => "col-lg-12 col-md-12"}
      %h1 Page 2 

  %div{:class => "row"}
    %nav
      %ul.pager
        %li.previous
          %a{:href => "/jean1"} &larr; Précedent
        %li.next
          %a{:href => "/jean3"} Suivant &rarr;
