.container
  %h3 Bienvenue dans le laboratoire secret de Laurent 
  %ul.nav.nav-pills{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{:href => "#"} Home
    %li{:role => "presentation"}
      %a{:href => "#"} Profile
    %li{:role => "presentation"}
      %a{:href => "#"} Messages



