%ul.nav.nav-pills
  %li.active{:role => "presentation"}
    %a{:href => "#"} Home
  %li{:role => "presentation"}
    %a{:href => "#"} Profile
  %li{:role => "presentation"}
    %a{:href => "#"} Messages
