!!!
%html{:lang => "fr", "xml:lang" => "fr", "ng-app" => "colloquiumApp" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Colloquium
    %link{:href => "/theme.css",  :rel => "stylesheet", :type => "text/css"}
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1"} 
     
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#main-menu", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand{:href => "/"}
            %img.pull-left{:alt => "Colloquium", :src => "/img/logo.png", :height => "20"}
            .pull-left.text 
              IWSM

        #main-menu.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/"} Home
            - settings.pages.each do |page|
              = haml :links, :locals=>{:page => page }
    
    = yield

    .container
      %footer{:class => "row"}
        %div{:class => "col-lg-12"}
          %hr
          %p
            %small 
              Colloquium. Developped by 
              %a{:href => ""} Laurent
              ,
              %a{:href => ""} Jean
              ,
              %a{:href => ""} Thomas
              and
              %a{:href => "http://quentin.dufour.tk"} Quentin.
              Go to
              %a{:href => "/admin"} Administration

      
    %script(src="/script.js")
