!!!
%html{:lang => "fr", "xml:lang" => "fr", "ng-app" => "colloquiumApp" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Colloquium
    %link{:href => "/theme.css",  :rel => "stylesheet", :type => "text/css"}
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1"} 
    %link{:href => "http://www.coursdeprofs.fr/images/topbar/16/register.png", :rel => "shortcut icon"}/
     
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#main-menu", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand{:href => "/"}
            %img.pull-left{:alt => "Colloquium", :src => "/img/logo.png", :height => "20"}
            .pull-left.text 
              IWSM

        #main-menu.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/"} Home
            - pages().order(:priority).each do |page|
              = haml :links, :locals=>{:page => page }
          %ul.nav.navbar-nav.navbar-right
            -if authenticated?
              %li
                %a.dropdown-toggle{:href => "#", :role => "button", :'data-toggle' => "dropdown", :'aria-expanded' => "false"}
                  %span.glyphicon.glyphicon-user
                  = user.email
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a 
                      %span.glyphicon.glyphicon-file
                      My Account
                  %li
                    %a 
                      %span.glyphicon.glyphicon-glass
                      My Events
                  %li
                    %a 
                      %span.glyphicon.glyphicon-eye-open
                      My Reviews
                  %li.divider
                  %li
                    %a{:href => "/logout"}
                      %span.glyphicon.glyphicon-off
                      Disconnect
            -else
              %li
                %a{:href => "/login", :role => "button"} Sign in / Sign up
          
          -if admin?
            %a.btn.btn-danger.navbar-btn.pull-right{:href => "/admin"} admin
          -elsif moderator?
            %a.btn.btn-warning.navbar-btn.pull-right{:href => "/moderation"} moderator

    
    = yield

    .container
      %footer{:class => "row"}
        %div{:class => "col-lg-12"}
          %hr
          %p
            %small 
              Colloquium. Developped by 
              %a{:href => ""} Laurent
              ,
              %a{:href => ""} Jean
              ,
              %a{:href => ""} Thomas
              and
              %a{:href => "http://quentin.dufour.tk"} Quentin.

      
    %script(src="/script.js")
