.container
  .row
    .col-md-6
      %h2 Sign in
      %form{:method => "POST"}
        .form-group
          %label{:for => "emailSI"} Email address
          %input#emailSI.form-control{:placeholder => "Enter email", :type => "email", :id => "emailSI", :title => "emailSI", :name => "emailSI"}/

        .form-group
          %label{:for => "InputPasswordSI"} Password
          %input#InputPasswordSI.form-control{:placeholder => "Password", :type => "password", :id => "InputPasswordSI", :title => "InputPasswordSI", :name => "InputPasswordSI" }/

        .form-group
          %input.btn.btn-default{:type => "submit", :value => "Sign in"}/

    .col-md-6
      %h2 Sign up
      .form-group
        %label{:for => "InputEmailSU"} Email address
        %input#InputEmailSU.form-control{:placeholder => "Enter email", :type => "email"}/
      .form-group
        %label{:for => "InputPasswordSU"} Password
        %input#InputPasswordSU.form-control{:placeholder => "Password", :type => "text"}/
      .form-group
        %label{:for => "ConfPasswordSU"} Confirm password
        %input#ConfPasswordSU.form-control{:placeholder => "Password", :type => "text"}/
      .form-group
        %input.btn.btn-default{:type => "submit", :value => "Sign up"}/
