.container
  %section{:class => "row"}
    %nav{:class => "col-lg-offset-1 col-lg-10 col-md-12"}
      %strong Navigation
      %br
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a rhoncus libero. Vivamus molestie dolor ac erat finibus suscipit. Vivamus in urna id massa pharetra condimentum id nec justo. Nunc lobortis mauris est, vitae fermentum mi sollicitudin nec. Vestibulum id diam convallis, interdum massa fringilla, dapibus nibh. Vivamus luctus tristique purus, ac maximus mi egestas id. Proin molestie, eros nec interdum cursus, massa leo varius nunc, ut consequat ipsum lectus sed tortor. Praesent pellentesque laoreet nunc, at volutpat lacus dapibus sit amet. Proin porta fringilla rhoncus. In hac habitasse platea dictumst. Aenean lobortis, lectus posuere porttitor efficitur, dui libero fermentum libero, vitae imperdiet sapien ante quis urna. Cras faucibus fringilla varius. Integer interdum, nibh id pretium pellentesque, diam orci dictum leo, vitae viverra velit libero vel ligula. Vivamus dui lorem, blandit fermentum pellentesque non, sollicitudin eget ante. 

