.wrapper
.jumbotron.hidden-xs
  .container.text-center
    %h1
      %span.glyphicon.glyphicon-envelope
      We have just sent you an email
    %p You must activate your account by clicking on the link provided in this email

.container
  .row
    .col-md-12
      %p If you don't find our email, please check your spam or contact us.
