/***********************/
/*                     */
/*   MAIN CSS THEME    */
/*                     */
/***********************/

/* HTML ELEMENT PROPERTIES */

/* HEADER */
.navbar {
    margin-bottom: 0px;
}
.navbar-brand > .text {
    margin-left: 8px;
}

/* GENERAL BODY */

/* FOOTER */

/* HOME PAGE */
.home {
    min-height: 400px;
    background-image: url('/img/book.jpg');
    background-size: cover;
    background-position: center center;
}
