- if edit
  %h2 Edit article "#{article.title}"
-else
  %h2 Create a new article

%form{:method => "POST"}
  .form-group
    %label{:for => "title"} Title
    %input{:type => "text", :class => "form-control", :id => "title", :name => "title", :placeholder => "A great journey...", :title => "title", :value => article.title}

  .form-group
    %label{:for => "category"} Category
    %input{:type => "text", :class => "form-control", :id => "category", :name => "category", :placeholder => "Tips, Math, Activity...", :title => "category", :value => article.category}

  .form-group
    %label{:for => "short_text"} Summary (max 255 chars)
    %textarea{:class => "form-control", :id => "short_text", :name => "short_text", :placeholder => "A quick summary of you article", :title => "short_text"}
      = article.short_text
      
  .form-group
    %label{:for => "long_text"} Body (Markdown Syntax is allowed)
    %textarea{:rows => "15", :class => "form-control bmarkdown", :id => "long_text", :name => "long_text", :placeholder => "You article content.", :title => "long_text"}= article.long_text

  .form-group
    %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Publish"}
