%h2 Delete the form element "#{felt.question}"

.alert.alert-danger Do you really want to delete this form element ?

%form{:method => "POST"}
  %input.btn.btn-danger.pull-right{:type => "submit", :value => "Delete", :style => "margin-left: 5px"} 
  %a.btn.btn-default.pull-right{:href => "/admin/event"} Cancel 

