%h1 Settings 
.container
  .row
    .col-md-6
      %h2 test mabut
      %form#Sign_in{:method => "POST"}
        
        %input{:type => "hidden", :name => "action", :value => "settings"}
        
        .form-group
          %label{:for => "test"} MB
          %input#base_url.form-control{:placeholder => "Enter base_url", :type => "text", :title => "base_url", :name => "base_url", :value => base_url}/
        .form-group
          %input.btn.btn-default{:type => "submit", :value => "login"}/
