-p table
-if table.nil?
	%p An error occured, please try later
-else		
		
	%form{:method => "POST"}
		.form-group
			%legend  
				Please checks the differents meals for which registration will be possible 
			%table.table.table-striped
				%tr
					%th
						\
					%th
						Breackfast
					%th
						Lunch
					%th
						Dinner
				-table.each do |line|
					%tr
						%th
							=line[0]
						-for m in 1..3
							%td
								-if !line[m].nil?
									.checkbox
										%label
											%input{line[m]? {checked: ""} : {}, type:"checkbox",name: "[meals[#{line[0]}][#{m-1}]]" ,id: [line[0],m-1],value: "true"}

		.form-group
			%input.btn.btn-primary.pull-right{:type => "submit", :value => "Publish"}


