%h1 Validation
%hr

%form{:method => "POST"}
  .form-group
    %label{:for => "validator_comment"} Comment
    %textarea#validator_comment.form-control{:type => "text", :name => "validator_comment", :placeholder => "Your comment on the review"}
    
  .form-group
    -#%input.pull-right.btn.btn-lg.btn-danger{:type => "submit", :name => "refused", :value => "Refuse"}
    -#%input.pull-right.btn.btn-lg.btn-link{:disabled => "disabled", :type => "submit", :value => ""}
    -#%input.pull-right.btn.btn-lg.btn-success{:type => "submit", :name => "validated", :value => "Validate"}
    
    

    %label.radio-inline{:for => "validated"} 
      %input#validated{:name => "validate", :type => "radio", :value => "Valid"} 
        Validate
 
    %label.radio-inline{:for => "refused"} 
      %input#refused{:name => "validate", :type => "radio", :value => "Ref"}
        Refuse
   
      
    %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :name => "validated", :value => "Submit"}
