%h2 Delete events "#{events.title}"

.alert.alert-danger Do you really want to delete this events ?

%form{:method => "POST"}
  %input.btn.btn-danger.pull-right{:type => "submit", :value => "Delete", :style => "margin-left: 5px"} 
  %a.btn.btn-default.pull-right{:href => "/admin/events"} Cancel 

